missing linguist-vendored
mkinstalldirs linguist-vendored
Makefile.am linguist-vendored
Makefile.in linguist-vendored
Makefile linguist-vendored
makefile linguist-vendored


## languag usage
*.cc linguist-language=cpp
*.C linguist-language=cpp